@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.container {
    width: 70vw;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    line-height: 1.6;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

h2 {
    font-size: 1.6em;
    font-weight: 700;
    color: #fff;
}

p {
    font-size: 1em;
    color: #fff;
    margin-bottom: 1em;
}

img {
    width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #7b7b7b;
    text-align: left;
}

section {
    margin-bottom: 40px;
}

td:first-child {
    width: 15%;
}

td:nth-child(2) {
    width: 50%;
}

td:nth-child(3) {
    width: 35%;
}

tr:last-child td {
    border-bottom: none;
}

a:link {
    color: blue;
}

a:visited {
    color: blueviolet;
}

a:hover {
    text-decoration: none;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #7b7b7b;
    margin-top: 40px;
}

.footer-text {
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        width: 90vw;
    }

    body {
        font-size: 0.9em;
    }
}

/* Конопка */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

a.btn {
    position: relative;
    padding: 15px 45px; 
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.75em;
    border: 2px solid transparent;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

a.btn::before {
    content: '';
    position: absolute;
    inset: 0 4px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

a.btn::after {
    content: '';
    position: absolute;
    inset: 4px 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

a.btn5:hover,
a.btn5:hover::before,
a.btn5:hover::after {
    inset: 0px;
}
